

<li>
	{{burger_name}}
    <button class="devour-burger" data-id="{{id}}" data-devour="{{devoured}}">Devour it!!</button>
	{{#if devoured}} {{else}} {{/if}}

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
